@page {
  size: letter portrait;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --page-width: 8.5in;
  --page-height: 11in;

  --color-dark: hsl(225deg, 66%, 35%);
  --color-link: hsl(225deg, 50%, 60%);

  --gray-dark: #444;
  --gray-medium: #888;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: var(--gray-dark);
  hyphens: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

b,
strong {
  font-weight: 600;
}

h1,
h3,
h4 {
  color: var(--color-dark);
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-color: var(--color-link);
  text-underline-offset: 0.15em;
  color: var(--color-link);
}

#main {
  width: var(--page-width);
  padding: 0.30in 0.4in 0 0.4in;
  font-size: 9.5pt;
}

/* main */

/** big title **/
#title {
  margin-bottom: 0.10in;
  line-height: 1.2;
}

#title h1 {
  font-weight: 300;
  font-size: 18pt;
  line-height: 1.5;
  color: var(--color-dark);
}

#title .professional-title {
  color: var(--gray-medium);
  font-size: 14pt;
}

#title .contact-info {
  margin-top: 2pt;
  font-size: 8.5pt;
  line-height: 1.2;
  white-space: nowrap;
}

#title .contact-item::after {
  content: " | ";
}

#title .contact-item:last-child::after {
  content: "";
}

#title .selected-skills {
  margin-top: 2pt;
  font-size: 9pt;
}

/*** categorial blocks ***/

.main-block {
  margin-top: 0.1in;
}

#main h2 {
  position: relative;
  top: 2pt;
  padding-bottom: 1pt;
  font-weight: 400;
  font-size: 11pt;
  color: var(--gray-medium);
}

.entry {
  padding-top: 2pt;
}

.entry header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8pt;
}

.entry h3 {
  font-size: 11pt;
}

.entry h4 {
  font-size: 11pt;
  margin-top: 0.5pt;
  margin-bottom: 1pt;
}

.entry .date-range {
  color: var(--gray-medium);
  white-space: nowrap;
}

.entry p {
  margin: 2pt 0 0 1em;
  hyphens: none;
  overflow-wrap: normal;
  word-break: normal;
}

.entry:not(.publication) p {
  padding-left: 1em;
  text-indent: -1em;
}

.education-degree {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8pt;
}

.education-degree .degree {
  flex: 1 1 auto;
}

.main-block.concise .education-degrees {
  padding: 0.05in 0 0.07in 0;
}

.workplace>header {
  margin-top: 4pt;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12pt;
}

.workplace>header h3 {
  font-size: 11pt;
  color: var(--gray-dark);
  flex: 0 0 auto;
}

.workplace-info {
  color: var(--gray-medium);
  flex: 1 1 auto;
  text-align: right;
}
